.error-message{
  word-wrap: break-word;
}

.top-menu{
  border-bottom: 1px solid #cccccc
}

.bottom-footer{
  padding-bottom: 1em;
  position: relative;
  bottom: 0em;
  right: 0em;
  width: 100%;
}
