.error-message{
  word-wrap: break-word;
}

.top-menu{
  border-bottom: 1px solid #cccccc
}

.bottom-footer{
  /* margin-top: 20em !important; */
  padding-bottom: 1em;
  position: fixed;
  bottom: 0em;
  right: 0em;
  width: 100%;
}

.trademark-notice{
  margin-bottom: 10em
}
